extends layout

block content
  h1= title

  section(class='homepage')
    div(class='homeCard')
      a(href='/pokedex/pokemon/create') Create your own Pokemon
    div(class='homeCard')
      a(href='/pokedex/gen/create') Add your own Generation
    div(class='homeCard')
      a(href='/pokedex/typing/create') Add your own Types
    //- div(class='homeCard' )
    //-   a(href='/pokedex/poketeam/create') Create your own Pokemon Team
