doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header 
      h1 PokeDex
      ul
        li 
          a(href='/pokedex') Home
        li
          a(href="/pokedex/pokemons") All Pokemon 
        li
          a(href="/pokedex/gens") All Generation
        li 
          a(href="/pokedex/typings") All Typings
        li 
          a(href="/pokedex/poketeams") All Pokemon Teams 

    main 
      block content
    footer 
      block footer
