extends layout 

block content 
  h1= title 

  ul(class='homepage')
    each typing in list 
      li(class='homeCard')
        a(href=typing.url) #{typing.name}

    else 
      li There are no Types